@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Jersey+20&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pixelify+Sans:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Jersey+20&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pixelify+Sans:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --dark-color: #131113;
  --light-color: #ffffff;
  --grey-color: #e5e3dc;
  --main-color: #8f2eb6;
  --secondary-color: #f1ac43;
  --dark-hover-color: #615561;
  --title-font: Montserrat;
  --content-font: Lato;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  font-family: var(--title-font);
  color: var(--dark-color) !important;
  background-color: var(--light-color);
  line-height: 1.6;
}

#contactInfoContainer p {
  font-family: var(--content-font);
  color: var(--dark-hover-color);
}
